<h1 class="title is-1">All Clients</h1>
<a href="/clients/clienthomepage" class="button is-danger">Add new client</a>
<form action="/clients" method="GET">
  <input type="text" name="gstin" placeholder="Enter Gstin no" required />
  <input type="submit" value="search" />
</form>

<% for(let i=0;i<result.length;i++){ %>
  <div class="card">
    <div class="card-content">
      <p class="title is-capitalized">
        <%= result[i].name %>
      </p>
      <p class="subtitle is-capitalized">
        <%= result[i].address %>
      </p>
    </div>
    <footer class="card-footer">
      <p class="card-footer-item is-uppercase">
        <span>
          <span class="has-text-weight-bold">Gstin:</span> <%= result[i].gstin
          %>
        </span>
        <span
          >&nbsp;&nbsp;<span class="has-text-weight-bold"> State: </span><%=
          result[i].state %>
        </span>
        <span
          >&nbsp;&nbsp; <span class="has-text-weight-bold">Statecode:</span> <%=
          result[i].statecode %>
        </span>
      </p>
      <p class="card-footer-item">
        <span>
          <a
            href="/clients/editclient/<%=result[i]._id %>"
            class="button is-link"
            >Edit</a
          >
        </span>
        &nbsp;&nbsp;
        <span>
          <a
            href="/clients/delete/<%=result[i]._id %>"
            class="mydel button is-success"
            >Delete</a
          >
        </span>
      </p>
    </footer>
  </div>
  <% } %></result.length;i++){
>
<script src="/js/myapp.js"></script>
